{{  define "reg.html"  }}
{{ template "header.html" }}

<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>Notebook {{ .Title }}</title>
    </head>
    <body>
        <main>
            <h2>Регистрация</h2>
            <div class="reg_error">
                {{ .Error }}
            </div>
            <form action="/public/reg/post" method="post">
                <label for="reg_login">Login</label>
                <input type="text" id="reg_login" name="reg_login">

                <label for="reg_password">Password</label>
                <input type="password" id="reg_password" name="reg_password">

                <label for="reg_email">Email</label>
                <input type="email" id="reg_email" name="reg_email">
                <button>Enter</button>
            </form>  
            <form action="/public/auth">
                <button>Already have an account?</button>
            </form>
        </main>
    </body>

</html>


{{ end }}